# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test
__debug_bin
go-vue

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# hidden folders and files
.*

# Dependency directories (remove the comment below to include it)
# vendor/
